@charset "ufd-8";

body{
    font-family:system-ui;
}

h1{
    color: white;
    font-size: 30px;
}

.header
{
    display: flex;
    background-color:black;
}

iframe{
    margin-right: 20px;
}

iframe.scratch {
    width: 485px;
    height: 402px;
  }
  
  @media screen and (max-width: 524px) {
    iframe.scratch {
      width: 100%;
    }
  }